
*.unity
*.meta
Assets/Scenes/Chapter1-1.unity
Assets/Scenes/Chapter1-1.unity.meta
Assets/Scenes/Warning.unity
Assets/Scenes/Warning.unity.meta
Assets/Script/Click warning scene button method.cs
Assets/Script/Click warning scene button method.cs.meta
.vs/Love Live School idol diary ~ μ's Summer Vacation ~/v15/.suo
.vs/Love Live School idol diary ~ μ's Summer Vacation ~/v15/Server/sqlite3/storage.ide
.vs/Love Live School idol diary ~ μ's Summer Vacation ~/v15/Server/sqlite3/storage.ide-shm
.vs/Love Live School idol diary ~ μ's Summer Vacation ~/v15/Server/sqlite3/storage.ide-wal
Assets/Script/TurnThePage.cs
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/EditorInstance.json
Library/metadata/dc/dc2f8f59902ea514593eee326faa2193
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/shadercompiler-UnityShaderCompiler.exe0.log
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Temp/__Backupscenes/0.backup
Temp/UnityLockfile
Temp/UnityTempFile-1f395c82b5418594eb79347c2160ce26
Temp/UnityTempFile-915f37e9b8c152642835109bfc5eeb3d
Temp/UnityTempFile-c8db66501385ed5489107606e861a096
